html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    background-image: url("/images/valley.jpg");
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

h1 {
    font-size: 1.3em;
}

article {
    color: white;
}

a:link,
a:visited {
    color: #038db3 !important;
}

form {
    width: 320px;
    margin: 45px auto;
}

textarea {
    resize: none;
}

input,
textarea {
    background: none;
    color: white;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 320px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid white;
}

input:focus,
textarea:focus {
    outline: none;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
    top: -14px;
    font-size: 12px;
    color: #03b381;
}

input:focus ~ .bar:before,
textarea:focus ~ .bar:before {
    width: 320px;
}

input[type="password"] {
    letter-spacing: 0.3em;
}

input:invalid {
    box-shadow: none;
}

input:invalid ~ .bar:before {
    background: #038db3;
}

input:invalid ~ label {
    color: #038db3;
}

input[type="submit"] {
    cursor: pointer;
}

label {
    color: white;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;
}

*,
:before,
:after {
    box-sizing: border-box;
}

.center {
    text-align: center;
    margin-top: 2em;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.group {
    position: relative;
    margin: 45px 0;
}

.bar {
    position: relative;
    display: block;
    width: 320px;
}

.bar:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #03b381;
    transition: 300ms ease all;
    left: 0%;
}

.btn {
    background: white;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btn:hover {
    color: black;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}

.btn.btn-submit {
    background: #03b381;
    color: #bce0fb;
}

.btn.btn-submit:hover {
    background: #03b372;
    color: #deeffd;
}

.btn-box {
    text-align: center;
    margin: 50px 0;
}

.info {
    z-index: 2;
    position: absolute;
    bottom: .5vh;
    right: 1vw;
    text-align: left;
    color: grey;
    font-size: 0.8em;
    opacity: 0.1;
    transition: opacity 0.5s ease;
}

.info:hover {
    opacity: 1;
}

.info a {
    color: cyan;
}

.widget {
    position: absolute;
    left: 50%;
    top: 50%;
    border: 0px solid;
    border-radius: 5px;
    overflow: hidden;
    background-color: #1f1f1f;
    z-index: 1;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.widget::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url("/images/valley.jpg");
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.20;
    content: "";
}

.blur:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
    transform: scale(1.03);
    filter: blur(10px);
}

.register {
    margin-left: -15em;
    margin-top: -20em;
    width: 30em;
    height: 40em;
}

.modal {
    margin-left: -12.5em;
    margin-top: -7.5em;
    width: 25em;
    background-color: #f7f7f7;
    transition: visibility .3s, opacity .3s linear;
}

.modal article {
    margin-top: -5em;
}

.modal article,
.modal p,
.modal h2,
.modal h3 {
    color: #1f1f1f;
}

.error {
    color: #b30335 !important;
}

@media only screen and (max-width: 500px) {
    .info {
        bottom: -2vh;
    }

    .widget {
        margin-top: -40vh;
        margin-left: -45vw;
        width: 90vw;
        min-width: 20em;
    }

    .modal {
        margin-top: -15vh;
        margin-left: -35vw;
        width: 70vw;
        min-width: 15em;
    }
}

@media only screen and (max-height: 768px) {
    body {
        overflow-y: visible;
        padding-bottom: -90vh;
    }

    .blur:before {
        filter: none;
        transform: none;
        padding-bottom: 50em;
    }

    .info {
        float: right;
        padding-top: 57em;
        position: static;
    }

    .widget {
        margin-top: -40vh;
    }

    .modal {
        margin-top: -15vh;
    }
}